.login {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: 400px !important;
}

.login-1 {
  align-items: center;
  background-color: var(--shark);
  display: flex;
  gap: 10px;
  height: 755px;
  overflow: hidden;
  position: relative;
  width: 400px;
}

.flex-col-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 65.0px;
  min-height: 833px;
  width: 675px;
}

.icon {
  height: 67px;
  margin-left: 45px;
  width: 67px;
}

.overlap-group2-2 {
  height: 672px;
  margin-top: 21px;
  position: relative;
  width: 675px;
}

.login-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 45px;
  min-height: 672px;
  position: absolute;
  top: 0;
  width: 589px;
}

.title {
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.ingresa-los-datos-co {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 20px;
  white-space: nowrap;
}

.buttons-5 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  border-radius: 8px;
  box-shadow: 0px 4px 16px #9471cf3d;
  cursor: pointer;
  display: flex;
  height: 53px;
  margin-left: 3px;
  margin-top: 36px;
  max-width: 300px;
  padding: 13px 107px;
}

.confirmar {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
  min-width: 76px;
  text-align: center;
}

.olvidaste-tu-contrasea {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-right: 13px;
  margin-top: 24px;
  min-width: 188px;
  white-space: nowrap;
}

.login-with-google {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 15px #0000001c;
  cursor: pointer;
  display: flex;
  height: 78px;
  left: 11%;
  max-width: 300px;
  position: absolute;
  top: 97px;
}

.overlap-group-8 {
  border-radius: 8px;
  height: 78px;
  position: relative;
  width: 239px;
}

.group-1-1 {
  align-items: center;
  display: flex;
  gap: 18px;
  height: 32px;
  left: 232px;
  min-width: 219px;
  position: absolute;
  top: 25px;
}

.search-1 {
  height: 32px;
  width: 30px;
}

.ingresa-con-google {
  letter-spacing: 0;
  line-height: 21.7px;
  min-height: 22px;
  white-space: nowrap;
  width: 168px;
}

.login-with-google-1 {
  align-items: center;
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  border-radius: 8px;
  box-shadow: 0px 4px 15px #0000001c;
  display: flex;
  gap: 18px;
  height: 78px;
  justify-content: flex-end;
  left: 0;
  max-width: 300px;
  top: 0;
}

.search-1-1 {
  align-self: flex-end;
  height: 32px;
  width: 30px;
}

.ingresa-con-google-1 {
  letter-spacing: 0;
  line-height: 21.7px;
  margin-top: 4.0px;
  min-height: 22px;
  white-space: nowrap;
  width: 168px;
}

.login-with-facebook {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 15px #0000001c;
  cursor: pointer;
  display: flex;
  height: 78px;
  left: 11%;
  max-width: 200px;
  position: absolute;
  top: 195px;
}

.overlap-group1-6 {
  border-radius: 8px;
  height: 78px;
  position: relative;
  width: 643px;
}

.group-2-1 {
  align-items: center;
  display: flex;
  gap: 21px;
  height: 32px;
  left: 227px;
  min-width: 221px;
  padding: 0 0.0px;
  position: absolute;
  top: 25px;
}

.vector-23 {
  height: 32px;
  width: 15px;
}

.ingresa-con-facebook {
  letter-spacing: 0;
  line-height: 21.7px;
  min-height: 22px;
  white-space: nowrap;
  width: 183px;
}

.login-with-facebook-1 {
  align-items: center;
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  border-radius: 8px;
  box-shadow: 0px 4px 15px #0000001c;
  display: flex;
  gap: 21px;
  height: 78px;
  justify-content: flex-end;
  left: 0;
  max-width: 300px;
  padding: 1px 10.0px;
  position: absolute;
  top: 0;
}

.icon-facebook {
  align-self: flex-end;
  height: 32px;
  width: 15px;
}

.ingresa-con-facebook-1 {
  letter-spacing: 0;
  line-height: 21.7px;
  margin-top: 4.0px;
  min-height: 22px;
  white-space: nowrap;
  width: 183px;
}

.or {
  align-items: center;
  display: flex;
  height: 22px;
  left: 0;
  min-width: 675px;
  position: absolute;
  top: 313px;
}

.line-1 {
  height: 1px;
  margin-bottom: 1.0px;
  object-fit: cover;
  width: 292px;
}

.o {
  letter-spacing: 0;
  line-height: 21.7px;
  margin-left: 35px;
  min-height: 22px;
  min-width: 13px;
  white-space: nowrap;
}

.line-2 {
  height: 1px;
  margin-bottom: 1.0px;
  margin-left: 45px;
  object-fit: cover;
  width: 285px;
}

.remember-me {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 22px;
  left: 49px;
  min-width: 139px;
  position: absolute;
  top: 650px;
}

.check {
  background-color: #ebebeb;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 4px;
  height: 18px;
  width: 18px;
}

.recurdame {
  letter-spacing: 0;
  line-height: 21.7px;
  min-height: 22px;
  min-width: 104px;
  white-space: nowrap;
}

.no-tienes-una-cuenta-registrate {
  letter-spacing: 0;
  white-space: nowrap;
  width: 271px;
  align-self: center;
  margin-top: 18px;
  margin-right: 218px;
  line-height: 21.7px;
}

#overlay-login {
  align-items: center;
  background-color: #ffffff00;
  justify-content: flex-end;
}

