.group-68677,
.group-68677-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 126px;
  min-height: 177px;
  position: absolute;
  top: 52px;
  width: 286px;
}

.bienvenido-de-vuelta,
.bienvenido-de-vuelta-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  min-height: 29px;
  text-align: center;
  width: 282px;
}

.group-68676,
.group-68676-1 {
  align-items: flex-start;
  display: flex;
  height: 82px;
  margin-right: 3.31px;
  margin-top: 24px;
  min-width: 227px;
}

.text-7,
.text-11 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 82px;
  text-align: center;
  width: 193px;
}

.am-16,
.am-17 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 10.27px;
  min-height: 26px;
  text-align: center;
  width: 34px;
}

.date,
.date-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.51px;
  margin-top: 22px;
  min-height: 20px;
  text-align: center;
  width: 158px;
}

