.group-68675,
.group-68675-1 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  height: 1px;
  left: 100px;
  min-width: 380px;
  position: absolute;
  top: 178px;
}

.line,
.line-3 {
  height: 2px;
  margin-top: -2px;
  width: 81px;
}

