.frame-311,
.frame-311-1,
.frame-311-2 {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 65px;
  justify-content: center;
  position: relative;
  width: 343px;
}

.frame-311-item,
.frame-311-item-1,
.frame-311-item-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  background-clip: text;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-fill-color: transparent;
  width: fit-content;
}

.crear-1,
.crear-2,
.crear-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

