.alarmas {
  align-items: flex-start;
  background-color: var(--shark);
  border: 1px none;
  display: flex;
  gap: 2px;
  width: 1440px;
}

.overlap-group3-7 {
  background-color: var(--shark);
  height: 1024px;
  position: relative;
  width: 250px;
}

.rectangle-3782-9 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: var(--black-3);
  box-shadow: 0px 4px 4px #00000040;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.group-68686-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 95px;
  min-height: 470px;
  position: absolute;
  top: 335px;
  width: 69px;
}

.overlap-group-31 {
  height: 66px;
  position: relative;
  width: 73px;
}

.icon-clock-9 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 60px;
}

.oval-12 {
  height: 33px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 33px;
}

.icon-3 {
  cursor: pointer;
  height: 60px;
  margin-top: 73px;
  width: 60px;
}

.icon-star-9 {
  height: 60px;
  margin-top: 78px;
  width: 60px;
}

.logo-10 {
  height: 55px;
  left: 26px;
  position: absolute;
  top: 124px;
  width: 197px;
}

.overlap-group4-7 {
  height: 1024px;
  position: relative;
  width: 1188px;
}

.mask-group-6 {
  align-items: flex-end;
  display: flex;
  gap: 464px;
  height: 340px;
  left: 671px;
  min-width: 343px;
  position: absolute;
  top: 152px;
}

.rectangle-3772-8 {
  height: 340px;
  margin-bottom: -1058px;
  margin-left: -807px;
  width: 343px;
}

.sun1-1-6 {
  height: 340px;
  object-fit: cover;
  width: 343px;
}

.mantente-siempre-en-1 {
  left: 671px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 513px;
  width: 343px;
}

.explora-la-capacidad-5 {
  left: 671px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 646px;
  width: 343px;
}

.overlap-group1-14 {
  border-radius: 16px;
  height: 143px;
  left: 120px;
  position: absolute;
  top: 188px;
  width: 345px;
}

.rectangle-217-7 {
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  border-radius: 16px;
  height: 139px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 343px;
}

.group-17 {
  align-items: flex-end;
  border-radius: 16px;
  display: flex;
  height: 143px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 345px;
}

.overlap-group-32 {
  height: 284px;
  margin-bottom: -140.54px;
  position: relative;
  width: 368px;
}

.rectangle-1611-8 {
  -webkit-backdrop-filter: blur(60.7px) brightness(100%);
  backdrop-filter: blur(60.7px) brightness(100%);
  background-color: var(--black-2);
  border-radius: 16px;
  height: 143px;
  left: 0;
  position: absolute;
  top: 0;
  width: 348px;
}

.ellipse-5-18 {
  background-color: var(--purple-heart);
  border-radius: 143.19px/79.03px;
  filter: blur(72.5px);;
  height: 158px;
  left: 74px;
  position: absolute;
  top: 110px;
  transform: rotate(-6.48deg);
  width: 286px;
}

.ellipse-4-12 {
  height: 143px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 192px;
}

.vector-4-12 {
  height: 103px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 223px;
}

.vector-5-14 {
  height: 62px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 183px;
}

.am-23 {
  height: 20px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.ejercicios-8 {
  height: 13px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 78px;
}

.lun-mar-mie-dom-3 {
  height: 15px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 112px;
}

.text-18 {
  height: 51px;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
}

.x12h-28m-8 {
  height: 15px;
  left: 288px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 112px;
}

.alarmas-activas-3 {
  left: 128px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 151px;
}

.crear-13 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  background-clip: text;
  left: 408px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  top: 155px;
}

.rectangle-3785-4 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: var(--shark-2);
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1188px;
}

.crear-alarma {
  height: 814px;
  left: 276px;
  position: absolute;
  top: 210px;
  width: 383px;
}

