.frame-67-2,
.frame-67-2.frame-67,
.frame-67-2.frame-67-1 {
  align-items: center;
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  border-radius: 56px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  left: 260px;
  min-width: 72px;
  padding: 0 2px;
  position: absolute;
  top: 16px;
}

.rectangle-44-2 {
  background-color: var(--white);
  border-radius: 56px;
  box-shadow: 4px 4px 8px #00000040;
  height: 36px;
  width: 36px;
}

.frame-67-2.frame-67-3,
.frame-67-2.frame-67-5,
.frame-67-2.frame-67-9,
.frame-67-2.frame-67-12 {
  align-items: unset;
  display: unset;
  justify-content: unset;
  left: unset;
  padding: unset;
  position: relative;
  top: unset;
}

.frame-67-2.frame-67-3 .rectangle-44-2,
.frame-67-2.frame-67-5 .rectangle-44-2,
.frame-67-2.frame-67-9 .rectangle-44-2,
.frame-67-2.frame-67-12 .rectangle-44-2 {
  left: 34px;
  position: relative;
  top: 2px;
}

