.vuesaxboldprofile-2user-2 {
  background-image: url(/static/img/vuesax-bold-profile-2user.svg);
  background-size: 100% 100%;
  cursor: pointer;
  height: 60px;
  margin-top: 73px;
  width: 60px;
}

