.frame-323 {
  align-items: center;
  background: linear-gradient(180deg, rgb(200, 71, 244) 0%, rgb(110, 84, 247) 100%);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 6px 12px;
  position: relative;
  width: 42px;
}

.jue {
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-323.frame-324,
.frame-323.frame-324-1,
.frame-323.frame-324-2,
.frame-323.frame-324-3 {
  background: unset;
  background-color: var(--tuatara);
}

.frame-323.frame-324 .jue,
.frame-323.frame-324-1 .jue,
.frame-323.frame-324-2 .jue,
.frame-323.frame-324-3 .jue {
  margin-left: -2.50px;
  margin-right: -2.50px;
}

